* {
  padding: 0;
  margin: 0;
}

.mainContainer {
  display: grid;
  grid-template-columns: 500px 1fr 2fr;
  background-color: green;
  place-items: center;
  gap: 1em;
}

.card {
  background-color: blue;
  color: white;
  width: 20em;
  height: 20em;
}
