* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

#root {
  background-color: pink;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
  width: 100%;
  place-items: center;
  gap: 0.5em;
  padding: 0.1em;
}

.card {
  background-color: lightblue;
  color: white;
  width: 20em;
  height: 20em;
}
